---
import Banner from './Banner.jsx';
import Section from './Section';
import SectionCategories from './SectionCategories';
import SectionMarcas from './SectionMarcas';
import allProducts from '../data/products.json';

// Filtrar productos por sección
const destacados = allProducts.filter((p: any) => p.featured === true);
const masVendidos = allProducts.filter((p: any) => p.bestSeller === true);
const enOferta = allProducts.filter((p: any) => p.onSale === true);
const disponibles = allProducts.filter((p: any) => p.backInStock === true);
---
<div class="h-full w-full flex flex-col items-center">
    <Banner client:load />
    <Section client:load id="destacados" titulo="Destacados" products={destacados} />
    <Section client:load id="mas-vendidos" titulo="Más Vendidos" products={masVendidos} />
    <SectionCategories client:load id="por-necesidad" titulo="Por Necesidad" />
    <Section client:load id="en-oferta" titulo="En Oferta" products={enOferta} />
    <Section client:load id="disponible" titulo="Disponible en Stock" products={disponibles} />
    <SectionMarcas client:load />
</div>