---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/evelyncosmetics.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
		<title>{Astro.props.title}</title>
	</head>
	<body class="h-[100vh]">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

